
* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	color: #222;
	background-color: #eeee;
}
.app {
	margin: 0 auto;
	max-width: 992px;
	padding: 15px;
}
.main {
  display: flex;
  display: -webkit-flex;
}

.sidebar {
  width: 280px;
}

.content {
  width: calc(100% - 280px);
}